@import "./mixins";

.chart-layout {
    order: 1;
}
.single-data-section {
    order: 2;
}
.country-list {
    order: 3;
}

@include media-query-grow(768px) {
    .chart-layout {
        order: 2;
    }
    .single-data-section {
        order: 1;
    }
}