/* global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.inline-block {
    display: inline-block;
}
.full-width {
    width: 100%;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.flex {
    display: flex;
}
.a-s-right {
    align-self: flex-end;
}
.a-s-left {
    align-self: flex-start;
}
.a-s-center {
    align-self: center;
}
.j-c-between {
    justify-content: space-between;
}
.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.h-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.all-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.test {
    border: 1px solid red;
}

/* search component */
.search button {
    margin-top: 2px;
}
.background-svg {
    margin-top: 50px;
}
.search img {
    width: 100%;
}
.search p {
    font-size: 18px;
}
.search .input-field {
    position: relative;
    z-index: 9;
}
.filter li {
    padding: 15px 0;
    border-bottom: 1px solid #26a69a;
}


/* results component */
.results {
    display: none;
}
.results ul {
    flex-direction: column;
}
.results ul li {
    flex-direction: column-reverse;
}
.results ul li div {
    flex-direction: column-reverse;
}
.casesTotal {
    width: 100%;
    height: 10px;
}
.percent_bar {
    background: #fda50f;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 1s ease;
}
#USCases {
    float: right;
}
.group {
    flex-direction: column;
}
#cases {
    border: 2px solid #fda50f;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#cases span {
    font-size: 62px;
}
#cases h6 {
    top: 20px;
    font-size: 14px;
}
.bottom-row {
    margin-top: 30px;
    justify-content: center;
}
.bottom-row li {
    width: 100px;
    height: 100px;
}
.bottom-row h6 {
    font-size: 14px;
}
.bottom-row span {
    font-size: 25px;
}

/* error module */
.error {
    display: none;
}
.error img {
    width: 100%;
}

/* home icon */
.back_home {
    display: none;
    position: fixed;
    bottom: 20px;
}
.back_home:hover {
    cursor: pointer;
}
.back_home img {
    width: 30px;
}

/* loading */
.loading {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #455a64;
}
svg path,
svg rect{
  fill: #26a69a;
}

/* media queries */
@media screen and (max-width: 320px) {
    .search h1 {
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 768px) {
    /* search */ 
    .input-field {
        display: flex;
    }
    .search button {
        width: 120px;
        margin-top: 7px;
        margin-left: 10px;
    }
    .background-svg p {
        width: 350px;
        margin: 0 auto;
    }
    .background-svg img {
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .filter li:hover {
        cursor: pointer;
    }

    /* results */
    .results .group {
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    }
    .results .group #cases {
        margin-right: 10px;
    }
    .bottom-row {
        margin-top: 0;
        margin-left: 10px;
    }
    .bottom-row li {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media screen and (min-width: 1024px) {
    .background-svg {
        display: flex;
        position: relative;
    }
    .background-svg p {
        width: 400px;
        position: absolute;
        text-align: left;
    }
    .background-svg img {
        position: absolute;
        right: 0;
        top: 20px;
        transform: translateX(0px);
        left: auto;
    }

    /* results */
    .results .group #cases {
        width: 300px;
        height: 300px;
        margin-right: 20px;
    }
    #cases h6 {
        top: 35px;
        font-size: 16px;
    }
    #cases span {
        font-size: 90px;
    }
    .bottom-row {
        margin-left: 20px;
    }
    .bottom-row li span {
        font-size: 45px;
    }
    .bottom-row h6 {
        font-size: 16px;
    }

    /* home button */
    .back_home img {
        width: 40px;
    }
}
@media screen and (min-width: 1440px) {
    /* global */
    .container {
        width: 1000px !important;
    }

    /* search */
    .search {
        width: 1000px;
        margin: 0 auto;
    }
    .background-svg p {
        font-size: 23px;
        width: 480px;
    }

    /* results */
    .results {
        width: 1000px;
        margin: 0 auto;
    }
    .results .group #cases {
        margin-right: 30px;
    }
    .bottom-row {
        margin-left: 30px;
    }
}