/* global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.inline-block {
    display: inline-block;
}
.full-width {
    width: 100%;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.flex {
    display: flex;
}
.a-s-right {
    align-self: flex-end;
}
.a-s-left {
    align-self: flex-start;
}
.a-s-center {
    align-self: center;
}
.j-c-between {
    justify-content: space-between;
}
.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.h-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.all-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.test {
    border: 1px solid red;
}

/* search component */
.background-svg {
    margin-top: 50px;
}
.search img {
    width: 100%;
}
.search p {
    font-size: 18px;
}

/* results component */
.results {
    display: none;
}
.results ul {
    flex-direction: column;
}
.results ul li {
    flex-direction: column-reverse;
}
.results ul li div {
    flex-direction: column-reverse;
}
.casesTotal {
    width: 100%;
    height: 10px;
}
.percent_bar {
    background: #fda50f;
    top: 0;
    bottom: 0;
    left: 0;
}
#USCases {
    float: right;
}
#cases {
    border: 2px solid #fda50f;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#cases span {
    font-size: 72px;
}
#cases h6 {
    top: 20px;
    font-size: 14px;
}
.bottom-row {
    margin-top: 30px;
    justify-content: center;
}
.bottom-row li {
    width: 100px;
    height: 100px;
}
.bottom-row h6 {
    font-size: 14px;
}
.bottom-row span {
    font-size: 25px;
}
.results ul li:nth-child(1) {
    
}
.results ul li:nth-child(2) {
    
}
.results ul li:nth-child(3) {

}
.results ul li:nth-child(4) {

}
.results ul li:nth-child(5) {

}