// fonts
$mulish: 'Mulish', sans-serif;
$small-text: 0.75rem;
$med-text: 0.87rem;
$reg-text: 1rem;
$small-large: 2rem;

// color
$bg-dark: #6d73f6;
$bg-light: #efeefd;
$primary: #827af3;
$primary-light: #b47af3;
$primary-dark: #6b69d2;
$secondary: #a09e9e;
$secondary-light: #c1c1c1;
$secondary-dark: #7d7d7d;
$success: #27b345;
$success-light: #45ce62;
$success-dark: #3dbb58;
$warning: #ffd369;
$warning-light: #ffd369;
$warning-dark: #fbc647;
$danger: #f14336;
$danger-light: #fd6256;
$danger-dark: #f35448;
$info: #6ce6f4;
$info-light: #6ce6f4;
$info-dark: #67ddea;
$dark: #3f414d;
$light: #e9edf4;
$white: #fff;
$black: #000;
$cyan: #0cd2e3;
$cobalt-blue: #3f79f1;
$spring-green: #1be1b3;
$amber: #f4b72a;
$pink: #fd6c9e;
