@import "../utils/variables";
@import "../utils/mixins";

/* global for this component */ 
.country-name {
    width: 50%;
}
.country-data {
    width: 33%;
}

.country-list {
    .text {
        font-size: 12px;
        @include media-query-grow(768px) {
            font-size: 14px;
        }
    }
    .header {
        margin-bottom: 1rem;
    }
    .table-header {
        margin-bottom: 0.5rem;
        li {
            .text {
                font-weight: bold;
            }
        }
    }
    .list-wrap {
        height: 350px;
        table {
            width: 100%;
            td {
                .flag {
                    width: 20px;
                    margin-right: 4px;
                }
            }
        }
    }
}

/* each country */
.country {
    padding: 0.25rem 0;
    &:nth-child(odd) {
        background: $bg-light;
    }
    .country-data + .country-data {
        margin-left: 0.5rem;
    }
}