// global styles for singleData component


// style only for "cases today component"
.cases-today {
    .single-data {
        .icon {
            display: none;
        }
    }
}

/* global for singleData */
.single-data {
    .type-of-data {
        margin-bottom: 1rem;
    }
    .flex {
        .icon-wrap {
            padding: 1rem;
            border-radius: 10px;
            .icon {
                font-size: 22px;
            }
        }
        .text {
            margin-left: 0.5rem;
            font-size: 1.75rem;
        }
        .stats-icon {
            right: 0;
        }
    }
}